<ion-header>
  <ion-toolbar color="secondary" id="ponent">

      <ion-searchbar placeholder="Ponentes"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/informacion">
      <ion-avatar slot="start">
        <img src="../../assets/images/brenda-gallie.jpg">
      </ion-avatar>
      <ion-label>
      <h4>Brenda Gallie</h4>
      <p>Professor in Medical Biophysics...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
