<ion-header>
  <ion-toolbar color="secondary">
    <ion-title id="Prog">PROGRAMA CIENTÍFICO</ion-title>
  </ion-toolbar>
  <ion-toolbar >
		<ion-searchbar ></ion-searchbar>
		<ion-segment color="secondary">
			<ion-segment-button value="16">Vie/16
			</ion-segment-button>
			<ion-segment-button value="17">Sab/17
			</ion-segment-button>
			<ion-segment-button value="18">Dom/18
			</ion-segment-button>
			<ion-segment-button value="19">Lun/19
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
  
  
</ion-header>


<ion-content>
  <div class="md-paging">
      <mbsc-bottom-nav [options]="mainSettings">
          <mbsc-nav-item *ngFor="let item of mainCategories" [icon]="item.icon" [selected]="mainSelected == item.page" (click)="selectMain(item.page)">{{item.name}}</mbsc-nav-item>
      </mbsc-bottom-nav>
  
      <div *ngIf="mainSelected == 'music'">
          <mbsc-tab-nav [options]="categorySettings" #musicCategories>
              <mbsc-nav-item *ngFor="let subCat of subCategories.music" [selected]="subCat.id == subSelected" (click)="selectSub(subCat.id, musicContent)">{{subCat.name}}</mbsc-nav-item>
          </mbsc-tab-nav>
  
          <mbsc-scrollview [options]="contentSettings" #musicContent="mobiscroll">
              <mbsc-scrollview-item id="pop">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.music.pop" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.artist}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="rock">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.music.rock" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.artist}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="jazz">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.music.jazz" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.artist}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="piano">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.music.piano" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.artist}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="electric">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.music.electric" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.artist}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
          </mbsc-scrollview>
      </div>
  
      <div *ngIf="mainSelected == 'books'">
          <mbsc-tab-nav [options]="categorySettings" #bookCategories>
              <mbsc-nav-item *ngFor="let subCat of subCategories.books" [selected]="subCat.id == subSelected" (click)="selectSub(subCat.id, bookContent)">{{subCat.name}}</mbsc-nav-item>
          </mbsc-tab-nav>
          <mbsc-scrollview [options]="contentSettings" #bookContent="mobiscroll">
              <mbsc-scrollview-item id="fantasyb">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.books.fantasyb" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.author}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="education">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.books.education" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.author}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="history">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.books.history" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.author}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="scifyb">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.books.scifyb" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.author}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
  
              <mbsc-scrollview-item id="romanceb">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.books.romanceb" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.author}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
          </mbsc-scrollview>
      </div>
  
      <div *ngIf="mainSelected == 'moovies'">
          <mbsc-tab-nav [options]="categorySettings" #movieCategories>
              <mbsc-nav-item *ngFor="let subCat of subCategories.moovies" [selected]="subCat.id == subSelected" (click)="selectSub(subCat.id, movieContent)">{{subCat.name}}</mbsc-nav-item>
          </mbsc-tab-nav>
  
          <mbsc-scrollview [options]="contentSettings" #movieContent="mobiscroll">
              <mbsc-scrollview-item id="fantasym">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.moovies.fantasym" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.producer}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
              <mbsc-scrollview-item id="horror">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.moovies.horror" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.producer}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
              <mbsc-scrollview-item id="animation">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.moovies.animation" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.producer}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
              <mbsc-scrollview-item id="scifym">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.moovies.scifym" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.producer}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
              <mbsc-scrollview-item id="romance">
                  <mbsc-listview [options]="listviewSettings">
                      <mbsc-listview-item *ngFor="let lvItem of data.moovies.romancem" icon="play" icon-align="right">
                          <img src="//demo.mobiscroll.com{{lvItem.img}}" />
                          <h4>{{lvItem.title}}</h4>
                          <p>{{lvItem.producer}}</p>
                      </mbsc-listview-item>
                  </mbsc-listview>
              </mbsc-scrollview-item>
          </mbsc-scrollview>
      </div>
  
  </div>
</ion-content>