<ion-header>
  <ion-toolbar color="secondary" id="videos">
    <ion-searchbar placeholder="VIDEOS XXXIV CONGRESO PANAMERICANO"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>VIDEOS XXXIV CONGRESO PANAMERICANO</h1>
    <h2>BAJA VISION</h2>
  <ion-list>
    <ion-item (click)="viewImage()">
     <ion-label>
       <h3>BV-V01	<br>Adaptaciones funcionales en casa
       <br>para pacientes con discapacidad visual</h3>
       <h5>Juana Alejandra García Hernández, Ma. de
       <br>Lourdes Ordaz Vera, Francisco Martínez Castro</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>BV-V02	<br>Importancia de la integración sensorial
       <br>en niños con discapacidad visual</h3>
       <h5>Juana Alejandra García Hernández, Ma. de Lourdes
       <br>Ordaz Vera, Francisco Martínez Castro</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>BV-V03 <br> Visión del mundo a través de la
         <br>patología ocular.</h3>
       <h5>Jaime Alberto Alvidrez Prieto</h5>
     </ion-label>
    </ion-item>
    </ion-list>

    <h2>CATARATA</h2>
    <ion-list>
    <ion-item>
     <ion-label>
       <h3>CA-V01 <br>	Tap vítreo usando aspiración con
       <br>aguja para manejo de cámara estrecha
       <br>más efecto facomórfico durante
       <br>facoemulsificación.</h3>
       <h5>Dollybeth Vigo, Guillermo Reategui Reategui</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V02	<br>Pupilloplasty + retro-pupillary iris claw
       <br>(Artisan)lens implantation in a
       <br>complicated case of dyscoria
       <br>and aphakia.</h3>
       <h5>Jaime Larrea Gonzalez, Ruben Daniel Berrospi
       <br>Salcedo, Virgilio Galvis Ramirez</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V03	<br>Catarata intumescente: evitando el
       <br>signo de la bandera argentina.</h3>
       <h5>Marco Fajardo, Angélica Oñate</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V04	<br>Puntos importantes que tomar en
       <br>cuenta al realizar la cirugía en una
       <br>catarata morganiana: un buen caso
       <br>para la enseñanza</h3>
       <h5>Cesar Hernandez Chavarria, Jimmy Garcia Galdamez,
      <br>Carlos Estrada Reyes</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V05	<br>Abordaje quirúrgico exitoso en paciente
       <br>con catarata traumática de
       <br>48 años de 	Evolución</h3>
       <h5>Roberto Jiménez, Claudia Cordero</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V06	<br>Técnica navicular para realizar la
       <br>cirugía de catarata polar posterior
       <br>(con evolución a total)</h3>
       <h5>Jorge Topete</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V07	<br>Descemet's membrane detachment
       <br>after cataract surgery: the horror
       <br>and how to 	solve it</h3>
       <h5>Ana Silvia Serrano-Ahumada, Laura Alejandra
       <br>González-Dibildox, Emmanuel Cabrera-Martínez,
       <br>Guillermo De Wit-Carter</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V08	<br>Fragmentación o fractura del núcleo:
       <br>otra alternativa (técnica de Ríos)</h3>
       <h5>Robin Rios</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V09	<br>Prophylactic scleral windows in a
       <br>nanophthalmic eye</h3>
       <h5>Daniel Lemor, Michael Banitt</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V10	<br>Manejo del cristalino luxado</h3>
       <h5>Leticia Gonzalez, Juan Pablo Olivares, Eduardo
       <br>Amezquita, Lourdes Fernandez, Pamela Urcullo</h5>
     </ion-label>
    </ion-item>
    <ion-item>
     <ion-label>
       <h3>CA-V11	<br>Reparando estructuras</h3>
       <h5>Pamela Urcullo Terrazas, Eduardo Amézquita
       <br>García, Leticia Gonzalez Rodriguez</h5>
     </ion-label>
    </ion-item>
  </ion-list>

  <h2>CORNEA</h2>
  <ion-list>
  <ion-item>
   <ion-label>
     <h3>CO-V01	<br>Keratoplastia lamelar anterior profunda
     <br>en una cornea perforada</h3>
     <h5>J. Ignacio Manzitti, Diego Estrin</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V02	<br>Aplicación de corticoide de
     <br>depósito intraestromal como
     <br>tratamiento de la pingüecula</h3>
     <h5>Eduardo Arenas, Gioconda Lourdes Armas Herrera</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V03	<br>Nueva técnica de preparación del
     <br>lentículo donante para DSAEK
     <br>asistido por femto</h3>
     <h5>Tomás Jaeschke, Carla Vitelli,
     <br>Fernando Fuentes Bonthoux</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V04	<br>Queratoplastia lamelar anterior sin
     <br>suturas asistida con láser
     <br>de femtosegundo (FALK)</h3>
     <h5>Carla Vitelli, Tomás Jaeschke</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V05	<br>Surgical treatment of sterile keratolysis
     <br>in Boston keratoprosthesis</h3>
     <h5>Hernan Alfonso Martinez Osorio, Jose Manuel Vargas</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V06	<br>Resolución quirúrgica mediante iridectomía
     <br>óptica sectorial modificada en anomalía de Peters tipo I.</h3>
     <h5>Gonzalo Jara Urrutia, Cristian Cumsille Ubago, Tomas Rojas
     <br>Vargas, Felipe Espinoza Zuzulich</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V07	<br>Utilización de un láser diodo rojo para
     <br>tratamiento del desprendimiento de descemet
     <br>y posición de donante en el DMEK.</h3>
     <h5>Nestor Mario Szuster</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V08	<br>Triple procedimiento con pupiloplastia:
     <br>a propósito de un caso</h3>
     <h5> Nicolas Fernandez Meijide, Carla Sabrina Vitelli, Jesica
     <br>Bekerman, Natalia Ramón Brim</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V09	<br>Queratoplastia terapéutica en queratitis
     <br> por fusarium</h3>
     <h5>Marco Bordon</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V10	<br>Reconstrucción de la superficie ocular
     <br>parche corneal y membrana amniótica
     <br>por resección de un quiste dermoide</h3>
     <h5>Miguel Preciado De Santos, Jesús Heriberto
     <br>Dávila Alquisiras, Nallely Ramos Betancourt,
     <br>Abelardo Rodriguez Reyes</h5>
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
     <h3>CO-V11	<br>Nuevo prototipo de transportador de
     <br>ojos para banco de ojos</h3>
     <h5>Mario Osvaldo Roux, Marcela Caballero, Victoria Roux, Guillermo Roux</h5>
   </ion-label>
  </ion-item>
</ion-list>

<h2>GLAUCOMA</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>GL-V01	<br>Facoemulsificación más implante
   <br>valvular en catarata complicada
   <br>en glaucoma 	Uveítico</h3>
   <h5>Dollybeth Vigo, Dannytza Trujillo</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>GL-V02	<br>Ciclofotocoagulación transescleral con
   <br>micropulsos y subcyclo en glaucoma
   <br>efractario bajo anestesia general</h3>
   <h5>Viviana Raquel Abudi</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>GL-V03	<br>Nueva técnica quirúrgica para una fácil
   <br>y precisa inserción del tubo de los
   <br>dispositivos de drenaje</h3>
   <h5>Waldo Loayza, Fernando Iyo, Vanessa
   <br>Valderrama, Joseph Maita</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>GL-V04	<br>MIGS: el lado obscuro</h3>
   <h5>Daniel Arturo Yañez Lopez, Uriel Moreno Paramo,
   <br>Jesus Jimenez Roman, Daniela Alvarez</h5>
 </ion-label>
</ion-item>
</ion-list>

<h2>ENFERMEDADES INFLAMATORIAS</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>IN-V01	<br>Tuberculosis ocular</h3>
   <h5>Juan Bernardo Villanueva Avalos, Stephanie Voorduin <br>
    Ramos, María Teresa Valdez González</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>IN-V02	<br>Scleral patch graft with suture
   <br>einforcement technique in the surgical
   <br>management of necrotizing scleritis
   <br>with ectasia</h3>
   <h5>Michael Banitt, Daniel Lemor,
   <br>Joanne Wen, Jocelyn Lam</h5>
 </ion-label>
</ion-item>
</ion-list>

<h2>NEUROFTALMOLOGÍA</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>NE-V01	<br>Espasmo hemifacial bilateral por
   <br>trayectos inusuales de la arteria
   <br>vertebrobasilar</h3>
   <h5>Francis Paredes, Emely Karam</h5>
 </ion-label>
</ion-item>
</ion-list>

<h2>OCULOPLASTICA</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>OC-V01	<br>The tunneled forehead flap in medial
   <br>canthal eyelid reconstruction</h3>
   <h5>Ivana Periera, Vanessa Timbo Canamary,
   <br>Ana Carolina Visco de Almeida Costa</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>OC-V01	<br>My best tips on supramaximal levator
   <br>esection in moderate-severe
   <br>congenital Ptosis</h3>
   <h5>Yueh-Ju Tsai</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>OC-V02	<br>DCR endoscópica con septumplastia</h3>
   <h5>Joaquin Gonzalez Barlatay, Eduardo Jorge
   <br>Premoli, Carla Pagano Boza</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>OC-V03	<br>Quiste dermoide orbitario: un reto
   <br>quirúrgico para el orbitólogo</h3>
   <h5>Adriana Palomino Bernal</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>OC-V04	<br>Técnica y experiencia en manejo de
   <br>blefaroptosis mediante suspensión al
   <br>frontal con sutura de polipropileno.</h3>
   <h5>Liliana Vanessa Arjona Granados, Yenis Sofia
   <br>Parra Ramirez, Alberto Carlos Abdala Figuerola,
   <br>Jairo Alberto Ropero Rosillo</h5>
 </ion-label>
</ion-item>
</ion-list>

<h2>RETINA</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>RE-V01	<br>Fijación escleral de Ozurdex en un caso
   <br>de complejo bolsa-lente descentrado
   <br>con edema macular</h3>
   <h5>Carlos Mario Rangel, Maria Margarita Parra,
   <br>Nathalia Juliana Moreno</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>RE-V02	<br>Vitreomacular traction</h3>
   <h5>Silvio Lujan</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>RE-V03	<br>Cirugía de membrana epiretiniana
   <br>con síndrome de tracción vítreo
   <br>macular: técnica doble tinción +
   <br>uso de triamcinolona</h3>
   <h5>Jhon Eduardo Zans Ly</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>RE-V04	<br>Extracapsular de catarata más
   <br>vitrectomía: una cirugía en extinción.</h3>
   <h5>Jimmy García Galdámez, Cesar Hernandez
   <br>Chavarria, Carlos Estrada Reyes</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>RE-V05	<br>Catarata dura en cavidad vítrea: como
   <br>esolver sin facofragmentador</h3>
   <h5>Carlos Estrada Reyes, Jimmy Garcia Galdamez,
   <br>Cesar Hernandez Chavarria</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>RE-V06	<br>Giant retinal tear detachment in
   <br>a tattoo eye</h3>
   <h5>Alejandro Sanchez, Andres Lisker, Nicolas Crim</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>RE-V07	<br>Vitrectomia pars plana 25g en agujero
   <br>macular secundario a trauma en
   <br>paciente 	Pediátrico</h3>
   <h5>Diana Esperanza Arevalo Simental, Fabiola Monsivais,
   <br>Claudia Ascencio, Miriam Becerra Cota, Enrique Roig</h5>
 </ion-label>
</ion-item>
</ion-list>

<h2>TRAUMA</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>TR-V01	<br>Extracción de cuerpo extraño con imán
   <br>intraocular: presentación dos casos</h3>
   <h5>Wilehaldo Quiñónez Quiñónez, Efraín Romo García,
   <br>Sergio Sital Gastelum, Abel Ramon Concepción,
   <br>Gilberto Noe Gutierrez Ruiz, Silvia Paz Camacho</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>TR-V02	<br>Técnica de máquina de coser para
   <br>reparar receso angular de más de 6
   <br>meridianos secundario a traumatismo
   <br>ocular izquierdo</h3>
   <h5>Jorge Topete Jiménez</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>TR-V03	<br>Catarata traumática pediátrica</h3>
   <h5>Carolina Orea</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>TR-V04	<br>Extracción de dos perdigones
   <br>subretinianos luego de herida
   <br>con proyectil</h3>
   <h5>Nassim Abreu</h5>
 </ion-label>
</ion-item>
</ion-list>

<h2>VARIOS</h2>
<ion-list>
<ion-item>
 <ion-label>
   <h3>VA-V01	<br>El futuro de la simulación en
   <br>oftalmología: entrenamiento quirúrgico
   <br>utilizando ojos artificiales</h3>
   <h5>Andreas Paulo Di Luciano Rojas, Maria Jose
   <br>Montero Romero, Amelia Geary</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>VA-V02	<br>Uso de ojos artificiales para aprender
   <br>a realizar una colocación de lente
   <br>fijado a 	Esclera</h3>
   <h5>Maria Jose Montero Romero, Andreas Di Luciano
   <br>Rojas, Hunter Cherwek</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>VA-V03	<br>Oftalmoscopia digital indirecta
   <br> manos libres Smartphone. Técnica
   <br>con lupa Volk súper 66.
   <br>Utilidad en registro en niños.</h3>
   <h5>Guillermo Andres Monteoliva, Gabriela Saidman,
   <br>Alejandro Vazquez De Kartzow, Pedro Acevedo,
   <br>Rodrigo Torres, Adrian Salvatelli</h5>
 </ion-label>
</ion-item>
<ion-item>
 <ion-label>
   <h3>VA-V03 <br>Reporte de síndrome de Bardet-Biedl
   <br>en gemelas monocigotas</h3>
   <h5>Sandra Milena Beltrán Cediel, Elizabeth Figueroa,
   <br>Maria Russo, Ingrid Linarez</h5>
 </ion-label>
</ion-item>
</ion-list>

</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
