<ion-header>
  <ion-toolbar color="secondary" id="bienv">
    <ion-title>Mensaje de Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <br>
          <img id="logo" src="../../assets/images/arevalo.jpg" alt="">
        </ion-col>
        <ion-col size="8">
    <ion-card-header>
      <ion-card-subtitle>BIENVENIDA</ion-card-subtitle>
      <ion-card-title>BIENVENIDA DEL PRESIDENTE DE LA PAAO</ion-card-title>
    </ion-card-header>
       </ion-col>
     </ion-row>
   </ion-grid>
  <ion-card-content>
    Queridos Amigos Panamericanistas: <br>
    <br>
    La Asociación Panamericana de Oftalmología (PAAO) tiene el gran honor y placer de celebrar nuestro XXXIV Congreso Panamericano
    de Oftalmología en la bellísima ciudad de Cancún, México en mayo 25-28, 2019. ¡La PAAO está realmente emocionada de regresar a
    una de las más hermosas y paradisiacas ciudades de Latino América! Acompáñennos a actualizarnos en las más novedosas técnicas
    en oftalmología en las diferentes especialidades que colocan a los oftalmólogos líderes de la región entre los mejores del mundo.
    El programa ofrece un enfoque clínico y quirúrgico en los problemas que a diario debemos manejar en nuestra práctica diaria
    incluyendo simposios invitados del Wilmer Eye Institute de Johns Hopkins University y el Bascom Palmer Eye Institute, Prevención
    de la Ceguera y Baja Visión, y Día de Subespecialidad entre otras muchas actividades. Además, contaremos con simposios, cursos,
    posters electrónicos, trabajos libres, videos, y eventos sociales. Será un congreso memorable y el Centro de Convenciones de Cancún
    será el marco ideal para esa oportunidad educacional y de conexiones interpersonales tan importantes hoy día!
     <br>
    Cancún es una ciudad de muchas atracciones, ofrece un cúmulo de interesantes y divertidas actividades que incluyen naturaleza,
    tradiciones y cultura. Hay tantas atracciones que es difícil decidir qué hacer primero. Se puede iniciar el día disfrutando el
    resplandeciente sol en la playa construyendo castillos de arena, realizando tours de buceo y pesca, practicando todo tipo de deportes
    acuáticos, emprendiendo caminatas por la selva, efectuando visitas guiadas por los sitios arqueológicos, divirtiéndose en los parques
    temáticos de la zona, así como visitando las islas cercanas.
     <br>
    México también tiene muchas otras atracciones turísticas y encierra una inmensa cantidad de historia, tradición y religión a lo
    largo del tiempo, se ha convertido en uno de los destinos turísticos más importantes de América Latina. Aparte de sus iglesias,
    museos, monumentos y plazas, se caracteriza por los paisajes de las culturas indígenas como los Maya, los Aztecas, los Zapoteca,
    entre otros en lugares preciosos como Ciudad de México, Guadalajara, Monterrey, Puebla, Querétaro y muchos más para quienes deseen
    extender su estadía.
     <br>
    Estamos seguros de que este XXXIV Congreso Panamericano de Oftalmología Cancún 2019 será un gran éxito científico y social.
    ¡Disfrutemos de la hospitalidad de nuestros hermanos mexicanos!
     <br>
    ¡Bienvenidos todos!
     <br>
    Fernando Arévalo, MD FACS <br>
    Presidente de la PAAO
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <br>
        <img id="logo" src="../../assets/images/graue.jpg" alt="">
      </ion-col>
      <ion-col size="8">
<ion-card-header>
  <ion-card-title>BIENVENIDA DEL PRESIDENTE DEL CONGRESO</ion-card-title>
</ion-card-header>
        </ion-col>
     </ion-row>
 </ion-grid>
<ion-card-content>
  Estimados colegas: <br>
  <br>
  En nombre del Comité Organizador del XXXIV Congreso Panamericano de Oftalmologia deseo extender la más cordial
  invitación a todos los oftalmologos de América y del mundo para acompañarnos y participar en esta magna reunión oftalmológica. <br>
  Se llevará a cabo en Cancún, Quintana Roo, México del 25 al 28 de mayo del año 2019. <br>
  Nos espera también un programa científico cuidadosamente preparado con la participación de profesores de las diferentes áreas de
  subespecialidad de la oftalmología provenientes de todos los países de América con mesas redondas, simposios, debates, carteles y trabajos
  libres así como sesiones con los más recientes avances tecnológicos. <br>
  Habrá una gran exposición comercial y sobre todo reencontrarnos con viejos amigos harán de este congreso una fiesta oftalmológica memorable. <br>
  No faltes!! Aparta las fechas: 25 al 28 de mayo del 2019.<br>
  Nos vemos en Cancún. <br>
  Federico Graue Wiechers, MD
  Presidente, XXXIV Congreso Panamericano de Oftalmología
</ion-card-content>
</ion-card>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <br>
        <img id="logo" src="../../assets/images/drchavez.jpg" alt="">
      </ion-col>
      <ion-col size="8">
<ion-card-header>
  <ion-card-title>BIENVENIDA DEL PRESIDENTE DE LA SMO</ion-card-title>
  <ion-card-subtitle>Sociedad Mexicana de la Oftalmología</ion-card-subtitle>
</ion-card-header>
        </ion-col>
     </ion-row>
 </ion-grid>
<ion-card-content>
  Estimados amigos y colegas: <br>
  <br>
  Una vez mas la Sociedad Mexicana de Oftalmología se congratula de ser por sexta ocasión la anfitriona del Congreso Panamericano de Oftalmología.
  La experiencia inicia en el año 1952 cuando organizamos el IV congreso en la Ciudad de México, repitiéndose en 1981 en Acapulco (XIII), 1997 en
  Cancún (XXI), nuevamente en Cancún 2007 (XXVII) y por último el evento conjunto XXXIII Congreso Mexicano, XXXII Congreso Panamericano y XXV
  Congreso Mundial de Oftalmología  2016 en Guadalajara. <br>
  Una vez más,  Cancún será sede del XXXIV Congreso Panamericano, en esta ocasión en conjunto con el V Curso Bienal de la Sociedad Mexicana de
  Oftalmología, nuestro gran foro de actualización en el que participan los once grupos de alta especialidad afiliados a nuestra Sociedad. <br>
  La planeación compartida del congreso ofrecerá un gran programa académico, sumamente incluyente e interactivo,  con la participación de 26 sociedades
  nacionales de América y Europa, 14 grupos de alta especialidad de Latinoamérica y hospitales y departamentos de oftalmología de todo el continente. <br>
  Es innegable la velocidad con la que el conocimiento y tecnología cambian, y esto nos obliga a mantenernos continuamente actualizados en las dos grandes
   áreas de la especialidad, clínica y quirúrgica. <br>
  Por supuesto no nos olvidamos de la actividad social que tanto disfrutamos, estableciendo y fortaleciendo lazos de amistad entre los diferentes países
  que integran la región. <br>
  A nombre de la Sociedad Mexicana de Oftalmología reciban una cordial bienvenida y que la experiencia sea placentera para ustedes y sus familias.
  Atentamente <br>
  Dr. Eduardo Chávez Mondragón <br>
  Presidente Sociedad Mexicana de Oftalmología 2019 <br>
</ion-card-content>
</ion-card>

</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
