<ion-header>
  <ion-toolbar color="secondary">
    <ion-title id="Conot">Actividades SMO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2> </h2>
      </ion-col>
    </ion-row>
  </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <h3></h3>
            </ion-col>
            <ion-col size="8">
                <h3></h3>
            </ion-col>
          </ion-row>
        </ion-grid>



  <!--ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Deslizar -></ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)" routerLink="/programa">Bienvenida</ion-item-option>
        <ion-item-option (click)="favorite(item)">Carta</ion-item-option>
        <ion-item-option (click)="favorite(item)">Carta</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Historia</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Resumenes</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list-->
</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
