#Conot {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 20px;
  text-align: left;
}
 h2 {
   font-family: 'Roboto Condensed', Bold;
   font-size-adjust: auto;
   font-size: 18px;
   text-align: center;
 }

h3, p{
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  text-align: left;
}

h3{
  font-size: 15px;
}

p{
  font-size: 13px;
}
