<ion-header>
  <ion-toolbar color="secondary" id="cart">
    <ion-title>Carteles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>PAAO Cancún 2019 Carteles Aceptados</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
      <!--Buscador -->
      <ion-searchbar animated></ion-searchbar>
  <ion-list>
  <ion-card>
    <ion-item>
     <ion-label>
      <h3>Discapacidad visual y rehabilitación
      <br>en México: experiencia desde el
      <br>Hospital de la Luz</h3>
      <h5>Autor principal: Alejandra García</h5>
      <p>Coautores: Ma. de Lourdes Ordaz Vera, Juana
      <br>Alejandra García Hernández, Francisco Martínez Castro</p>
     </ion-label>
    </ion-item>
   </ion-card>

 <ion-card>
  <ion-item>
   <ion-label>
     <h3>II international low vision project
     <br>in Brazil (2016 -- 2019)</h3>
     <h5>Autor principal: Luciene Chaves Fernandes</h5>
     <p>Coautores: Luciene Chaves Fernandes</p>
   </ion-label>
  </ion-item>
</ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Perfil clínico-epidemiológico de
      <br>pacientes atendidos em serviço de
      <br>referência em baixa visão -- Brasil</h3>
      <h5>Autor principal: Renata Antunes</h5>
      <p>Coautores: Renata Antunes, Daniel Vasconcelos, Luciene Fernandes, Galton Vasconcelos, Carolina Reis</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Mujeres con nanoftalmos. Parámetros
      <br>de cámara anterior y factores asociados.</h3>
      <h5>Maria Soledad Barlatey</h5>
      <p>Coautores: Maria Soledad Barlatey, Mariana Takane Imay, Rebeca Devereux García, Wilson Koga Nakamura, Robert Graciano Díaz, Ma. Cristina González González</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Distribución de la longitud axial y factores
      <br>asociados en una población adulta de la
      <br>ciudad de México.</h3>
      <h5>Maria Soledad Barlatey</h5>
      <p>Coautores: Maria Soledad Barlatey, Wilson Koga Nakamura, Maria Victoria Moreno Londoño, Mariana Takane Imay, Rebeca Devereux García, Ma. Cristina González González </p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Aberraciones y sensibilidad al contraste
      <br>en lentes intraoculares monofocales asfericos</h3>
      <h5>Vanessa Luzardo</h5>
      <p>Coautores: Marco Ríos, Vanessa Luzardo, Nathali Alvarez, Ardelis Marcano, Deborah Lista</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Lentes intraoculares suturados a iris.
      <br>Presentación de cuatro casos</h3>
      <h5>Dunia Cruz Izquierdo</h5>
      <p>Coautores: Dunia Cruz Izquierdo</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Crioanalgesia en la facoemulsificación.</h3>
      <h5>Juan Raul Hernandez</h5>
      <p>Coautores: Juan Raul Hernandez, Heidy Hernandez Ramos, Meisy Ramos Lopez, Marcelino Rio Torres</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Cirugía bilateral simultanea del cristalino
      <br>una mejora en la calidad de vida y
      <br>economía de los pacientes.</h3>
      <h5>Heidy Hernandez</h5>
      <p>Coautores: Heidy Hernandez, Juan Raul Hernandez, Meisy Ramos Lopez, Marcelino Rio Torres</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Relación entre el síndrome pseudoexfoliativo
      <br>y factores de riesgo cardiovasculares</h3>
      <h5>Niurka Maria Velázquez Pinillos</h5>
      <p>Coautores: Niurka Maria Velázquez Pinillos, Linda Azucena Cendejas García, Maria Julia Perez Marrero, Lorena Alejandra Bastidas Narváez, Cynthia Maria Tirado Garcés</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Experiencia clínica tras el implante
      <br>de lente intraocular tetrafocal</h3>
      <h5>Gabriela Estefania Ibarra Elizalde</h5>
      <p>Coautores: Gabriela Estefania Ibarra Elizalde Miguel Ángel Ibañez Hernández, Ricardo Acosta Gonzalez</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Cirugía de catarata en pacientes
      <br>con retinosis pigmentaria.
      <br>Evaluación funcional.</h3>
      <h5>Jose Carlos Moreno</h5>
      <p>Coautores: Jose Carlos Moreno, Henry Perez, Tomas Soto</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Visual outcomes and patient satisfaction
      <br>following implantation of different
      <br>modern presbyopia correcting IOLs</h3>
      <h5>Mike P. Holzer</h5>
      <p>Coautores: Mike P. Holzer, Tanja M. Rabsilber</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Análisis descriptivo de una serie de casos
      <br>de extracción de lente intraocular fáquico
      <br>de fijación iridiana</h3>
      <h5>Javier Peña Alvarez</h5>
      <p>Coautores: Javier Peña Alvarez, Efraín Pérez, Konrad Harnisch, René Moreno</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Calidad visual en pacientes con implante
      <br>de lente intraocular multifocal bilateral
      <br>en una población hispana pregeriática</h3>
      <h5>Nallely Morales-Mancillas</h5>
      <p>Coautores: Nallely Morales-Mancillas, Jorge E. Valdez-Grcía, José Nava-García</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Cirugía experimental: fijación escleral sin
      <br>sutura de lente intraocular en ojos de porcino.</h3>
      <h5>Flor Elena Arenas Canchuja</h5>
      <p>Coautores: Flor Elena Arenas Canchuja, Waldo Loayza Gamboa, Francisco Loayza Villar</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>La SICS al rescate de la faco en
      <br>queratotomía radiada</h3>
      <h5>Pamela Gonzalez</h5>
      <p>Coautores: Pamela Gonzalez, Pamela González Daher</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Implante de LIO Synfony TECNIS ango
      <br>visión extendido asociado a LIO MF TECNIS
      <br>+3.25 D en cirugía de facoemulsificación</h3>
      <h5>Cristian Leal</h5>
      <p>Coautores: Cristian Leal, Patricio Gomez, Jorge Veloso, Ricardo Leal</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Cambios refractivos en pacientes con
      <br>catarata y queratocono posterior a
      <br>facoemulsificación con implante de LIO tórico</h3>
      <h5>Jorge Luis Blanco Gómez</h5>
      <p>Coautores: Jorge Luis Blanco Gómez, Erika Leticia Fernández Muñoz, Roberto González Salinas</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Astigmatism management with customized
      <br>inicision catarct surgery</h3>
      <h5>Jagganath Boramani</h5>
      <p>Coautores: Jagganath Boramani, Jagannath Boramani</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Dislocación de cristalino a cámara
      <br>anterior en microesferofaquia: serie de 3 casos</h3>
      <h5>Carlos Estrada</h5>
      <p>Coautores: Carlos Estrada-Reyes, Jimmy Garcia-Galdamez, Cesar Hernandez-Chavarria</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Manejo exitoso de lenticono anterior con
      <br>lentes intraoculares de profundidad de foco
      <br>extendido: reporte de caso</h3>
      <h5>Roberto Jiménez</h5>
      <p>Coautores: Roberto Jiménez, Oscar Camacho</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Aberrometría intraoperatoria en cálculo de
      <br>poder de lente de pacientes con cirugía refractiva
      <br>previa o astigmatismo alto</h3>
      <h5>Lina Preciado Flores</h5>
      <p>Coautores: Ricardo Acosta González, Beatriz Alvarado Castillo, Nadia Luz Casillas Chavarin, Miguel Ángel Ibañez Hernández</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Opacificación capsular y curvas de desenfoque de
      <br> sensibilidad al contraste con dos lentes
      <br>intraoculares trifocales</h3>
      <h5>Joaquín Fernández</h5>
      <p>Coautores: Joaquín Fernández, Manuel Rodríguez-Vallejo, Javier Martínez, Ana Tauste, David Piñero</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Regression analysis of predictors of
      <br>patient satisfaction with an EDOF/+3.25
      <br>vs bilateral +3.25 vs bilateral +4.00 multi</h3>
      <h5>Frank Bucci</h5>
      <p>Coautores: Frank Bucci</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Experiencia en cirugía de catarata asistida
      <br>por láser de femtosegundo en la Fundación
      <br>Hospital Nuestra Señora de la Luz</h3>
      <h5>Sandra Nohemí Chimalpopoca Bautista</h5>
      <p>Coautores: Sandra Nohemí Chimalpopoca Bautista, Cyntia Solís Hernández, Claudia Palacio Pastrana</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Corrección de astigmatismo con lentes
      <br>intraoculares tóricos envista en el
      <br>Instituto Nacional de Rehabilitación</h3>
      <h5>Vicente Rinconcillo</h5>
      <p>Coautores: Vicente Rinconcillo</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Síndrome de tensión capsular,
      <br>a propósito de un caso</h3>
      <h5>Natalia Ramón Brim</h5>
      <p>Coautores: Natalia Ramón Brim, Nicolás Fernández Meijide, Carla Sabrina Vitelli, Jessica Bekerman</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Refractive lessons learned from cataract
      <br>surgery patients declining a toric intraocular lens</h3>
      <h5>Elizabeth Cotton</h5>
      <p>Coautores: Elizabeth Cotton, Ahmad Al-Heeti, Samir Sayegh</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Comparación de la exactitud de 8 fórmulas para
      <br>el cálculo de lentes intraoculares</h3>
      <h5>Martín Arrúa</h5>
      <p>Coautores: Martín Arrúa, Sebastian Torres, Agustín Carrón, Gabriel Medve, Diego Araujo</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Evaluación del perfil de seguridad de moxifloxacina
      <br>intracameral en la cirugía de catarata por facoemulsificación</h3>
      <h5>Diego Araujo</h5>
      <p>Coautores: Diego Araujo, Martín Arrúa, Agustín Carrón, Gabriel Medve, Veronica Castillo</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Comparación de cálculo de LIO con y sin midriasis
      <br>utilizando biometría con OCT de Swept Source (OCT SS)</h3>
      <h5>Fernando Aguilera</h5>
      <p>Coautores: Fernando Aguilera</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3>Implante intraescleral de lente intraocular con
      <br>adhesivo tisular en  herida corneal afaquia
      <br>y aniridia traumática</h3>
      <h5>Paulo Sergio Tapia Hurtado</h5>
      <p>Coautores: Paulo Sergio Tapia Hurtado, Nicolas Leon Perez</p>
    </ion-label>
   </ion-item>
  </ion-card>

  <ion-card>
   <ion-item>
    <ion-label>
      <h3></h3>
      <h5></h5>
      <p>Coautores</p>
    </ion-label>
   </ion-item>
  </ion-card>
  </ion-list>
  </ion-col>

  </ion-row>
  </ion-grid>

</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
