<ion-header color="invisible">
  <ion-toolbar color="secondary" id="PAAOt">
  <ion-title>PAAO</ion-title>
  <!--p id="PAAOp" >Asociación Panamericana de Oftalmología</p-->
  <div>
    <!--<img id="logo" src="../assets/logoSMO/SMOlogo.jpg" alt="">-->

  </div>
  </ion-toolbar>
  <!--Buscador -->
<ion-searchbar placeholder="Buscar" color="invisible"></ion-searchbar>
</ion-header>

<ion-content id="background">



  <!--Buttons-->
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <div>
        </div>
      </ion-col>
      <ion-col size="3">
       <div>
         <ion-buttons routerLink="/programa">
           <img id="h1" src="../assets/icon/list.png" alt="">
           </ion-buttons>
         <p id="butPrg">
         Programa General
         </p>
       </div>
  </ion-col>
  <ion-col size="1">
    <div>
    </div>
  </ion-col>
      <ion-col size="3">
        <div>
          <ion-buttons routerLink="/">
            <img id="h2" src="../assets/icon/search.png" alt="">
            </ion-buttons>
            <p id="butBusc">
            Buscador
            </p>
        </div>
      </ion-col>
      <ion-col size="1">
        <div>
        </div>
      </ion-col>
  <ion-col size=3>
  <div>
    <ion-buttons routerLink="/premios">
      <img id="h3" src="../assets/icon/atla.png" alt="">
      </ion-buttons>
    <p id="butProAt">
    Esquema General
    </p>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <ion-buttons routerLink="/carteles">
          <img id="h4" src="../assets/icon/cartel.png" alt="">
          </ion-buttons>
        <p id="butCart">
        Carteles
        </p>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
     <div>
       <ion-buttons routerLink="/videos">
         <img id="h5" src="../assets/icon/video.png" alt="">
         </ion-buttons>
       <p id="butVide">
       Videos
       </p>
     </div>
</ion-col>
<ion-col size="1">
  <div>
  </div>
</ion-col>
<ion-col size=3>
<div>
  <ion-buttons routerLink="/conocenos">
    <img id="h6" src="../assets/icon/smo.png" alt="">
    </ion-buttons>
  <p id="butOrg">
   Actividades SMO
  </p>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <ion-buttons routerLink="/ponentes">
          <img id="h7" src="../assets/icon/prof.png">
          </ion-buttons>
        <p id="butPone">
        Ponentes
        </p>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size=3>
      <div>
        <ion-buttons routerLink="/bienvenida">
          <img id="h8" src="../assets/icon/message.png" alt="">
          </ion-buttons>
        <p id="butBienv">
          Mensaje de Bienvenida
        </p>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
     <div>
       <ion-buttons>
         <a href="http://gruporoyale.net/shop/home.php?lang=1&event=89&zona=1">
         <img id="h9" src="../assets/icon/travel.png"></a>
         </ion-buttons>
       <p id="butLug">
         Lugar de Interés
       </p>
     </div>
</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <ion-buttons routerLink="/planos">
          <img id="h10" src="../assets/icon/plan.png" alt="">
          </ion-buttons>
        <p id="butExpo">
          Exposición Comercial
        </p>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <ion-buttons routerLink="/patrocinador">
          <img id="h11" src="../assets/icon/spons.png" alt="">
          </ion-buttons>
        <p id="butPatr">
        Patrocinador
        </p>
      </div>
</ion-col>
<ion-col size="1">
  <div>
  </div>
</ion-col>
<ion-col size=3>
<div>
  <ion-buttons routerLink="/circuito">
    <img id="h12" src="../assets/icon/bus.png" alt="">
    </ion-buttons>
  <p id="butCirc">
  Circuito de Autobuses
  </p>
</div>
</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <ion-buttons routerLink="/congresistas">
          <img id="h13" src="../assets/icon/congr.png" alt="">
          </ion-buttons>
        <p id="butCongr">
          Congresistas
        </p>
      </div>
    </ion-col>
<ion-col size="1">
  <div>
  </div>
</ion-col>
<ion-col size=3>
<!--div>
  <ion-buttons routerLink="/">
    <img id="h14" src="../assets/icon/live.png" alt="">
    </ion-buttons>
  <p id="butLive">
  En vivo
  </p>
</div-->
</ion-col>
<ion-col size="1">
  <div>
  </div>
</ion-col>
<ion-col size="3">
  <!--div>
    <ion-buttons routerLink="/">
      <img id="h15" src="../assets/icon/.png" alt="">
      </ion-buttons>
    <p id="butSalon">

    </p>
  </div-->
</ion-col>
    <ion-col size="12">
    </ion-col>
  </ion-row>
</ion-grid>


<!--Slider-->
<!--ion-grid>
  <ion-row>
    <ion-col size="1">
      <span class="slider-nav arrow-prev"
        (click)="slidePrev(sliderOne,slideWithNav)">
        <div class="prev-icon-custom custon-nav"
          [class.disabled]="sliderOne.isBeginningSlide"></div>
      </span>
    </ion-col>
    <ion-col size="10">

      <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide *ngFor="let s of sliderOne.slidesItems">
          <img src="../../assets/banners/{{s.id}}.jpg">
        </ion-slide>
      </ion-slides>

    </ion-col>
    <ion-col size="1">
      <span class="slider-nav arrow-next"
        (click)="slideNext(sliderOne,slideWithNav)">
        <div class="next-icon-custom custon-nav"
          [class.disabled]="sliderOne.isEndSlide"></div>
      </span>
    </ion-col>
  </ion-row>
</ion-grid-->




</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
<!--
<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/linh-pham" title="Linh Pham">Linh Pham</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
 -->
