


ion-content {
    --background: #000000 url('../../assets/images/splash_smo.png')  0 0/100% 100% no-repeat;
}

 #PAAOt {
   font-family: 'Roboto Condensed', Bold;
   font-size-adjust: auto;
   font-size: 90px;
   text-align: left;
 }

 #PAAOp{
   font-family: 'Roboto', sans-serif;
   font-size: xx-small;
   text-align: left;
 }


#butPrg, #butBusc, #butProAt, #butCart, #butPone, #butLug, #butExpo, #butCirc, #butLive  {
  color:#ffffff;

  align-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size-adjust: auto;
  font-size: normal;
  text-align:justify;
}

#butVide{
  color:#ffffff;

  align-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size-adjust: auto;
  font-size: normal;
  text-align:justify;
}

  #butOrg, #butBienv {
   color:#ffffff;

   align-content: center;
   font-family: 'Roboto Condensed', sans-serif;
   font-size-adjust: auto;
   font-size: normal;
   text-align: justify;
 }

 #butPatr, #butCongr{
   color:#ffffff;

   align-content: center;
   font-family: 'Roboto Condensed', sans-serif;
   font-size-adjust: auto;
   font-size: 85%;
   text-align: justify;

 }

#h1, #h2, #h3, #h4, #h7, #h8, #h10, #h11, #h12, #h13, #h14, #h15{
  max-width: 60%;
  align-items: center;
  align-content: center;
  filter:opacity(60%);
  filter:invert(1);
}

#h5{
  max-width: 60%;
  align-content:space-between;
  filter:opacity(60%);
  filter:invert(1);
}

 #h6{
   max-width: 70%;
   align-items: justify;
   align-content: justify;
 }

 #h9{
   max-width: 50%;
   align-items: center;
   align-content: center;
   filter:opacity(60%);
   filter:invert(1);
 }



.icons-basic-page {

  ion-row {
    flex-wrap: wrap;
    max-width: 33%;
  }

  ion-col {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    padding: 10px 5px;
  }
}


ion-button{
  color: #ffffff;
  background-color: #ffffff;
  border-bottom-style: none;
  bottom: inherit;
  border: none;
  box-shadow:#ffffff;

}

ion-searchbar{
  background-color: rgba(177, 16, 26, 0);
}
/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/
#logo{
  align-content: center;
}
