


ion-content {
    --background: #000000 url('../../assets/splash/splash_smo.png')  0 0/100% 100% no-repeat;
}

 #PAAOt {
   font-family: 'Roboto Condensed', Bold;
   font-size-adjust: auto;
   font-size: 90px;
   text-align: left;
 }

 #PAAOp{
   font-family: 'Roboto', sans-serif;
   font-size: xx-small;
   text-align: left;
 }


#butPrg, #butBusc, #butProAt, #butCart, #butVide, #butPone, #butLug, #butExpo, #butCirc  {
  color:#ffffff;

  align-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size-adjust: auto;
  font-size: small;
  font-stretch: semi-condensed;
  font-size-adjust: auto;
  text-align: left;
  font-variant-position: super;
}

  #butOrg, #butBienv, #butPatr, #butCongr {
   color:#ffffff;

   align-content: center;
   font-family: 'Roboto Condensed', sans-serif;
   font-size-adjust: auto;
   font-size: 68%;
   font-stretch: semi-condensed;
   font-size-adjust: auto;
   text-align: left;
   font-variant-position: super;
 }
#h1, #h2, #h3, #h4, #h5, #h6, #h7, #h8, #h9, #h10, #h11, #h12, #h13, #h14, #h15{
  max-width: 60%;
  align-items: left;
  align-content: center;
  filter:opacity(60%);
  filter:invert(1);
}



.icons-basic-page {

  ion-row {
    flex-wrap: wrap;
    max-width: 33%;
  }

  ion-col {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    padding: 10px 5px;
  }
}


ion-button{
  color: #ffffff;
  background-color: #ffffff;
  border-bottom-style: none;
  bottom: inherit;
  border: none;
  box-shadow:#ffffff;

}

ion-searchbar{
  background-color: rgba(177, 16, 26, 0);
}
/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/
