

ion-content {
    --background: #000000 url('../../../assets/images/splash_smo.png')  0 0/100% 100% no-repeat;

}

#Login {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 90px;
  text-align: left;
}

div, h3{
 color:#ffffff;

 align-content: center;
 font-family: 'Roboto Condensed', sans-serif;
 font-size-adjust: auto;
 font-size: 100%;
 text-align: left;
}

ion-buttons{
  background: rgba(154, 149, 224, 0.28);
  background-blend-mode: luminosity;
  opacity: 0.9;
  color: #ffffff;
  text-shadow: 1px 1px 2px gray, 0 0 1em white, 0 0 0.2em gray;

}
ion-button{
  color:#ffffff;


  align-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size-adjust: auto;
  font-size: normal;
  font-stretch: semi-condensed;
  font-size-adjust: auto;
  text-align: center;
  font-variant-position: super;
  text-shadow: #ffffff 1px 0 10px;
  opacity: 1;
}
