<ion-header>
  <ion-toolbar color="secondary" id="PlanT">
    <ion-title>Planos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="10">
          <h1>Plano Comercial</h1>
          <ion-img [src]="imgSource" (click)="viewImage(imgSource)"></ion-img>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </ion-grid>



    <ion-content>
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
            </ion-col>
            <ion-col size="10">
              <h1>Plano de Salones del Congreso</h1>
              <ion-img [src]="imgSource1" (click)="viewImage1(imgSource1)"></ion-img>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-grid>



</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
