
  <ion-toolbar color="dark">
  </ion-toolbar>

<ion-content color="dark">
<ion-buttons (click)="closeModal()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-buttons>
<ion-grid>
  <h1>CONFERENCIA AJO</h1>
  <ion-row>
    <ion-col>
      <p>Sábado, 25 de Mayo 11:15 am, Auditorio</p>
      <h2>Brenda Gallie MD FRCSC CM OOnt</h2>
      <h3>CERO muertes de raro cáncer en ojos de bebés: un proyecto piloto global</h3>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
