#info{
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 90px;
  text-align: left;
}

h1 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 20px;
  text-align: left;
}

h2 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 18px;
  text-align: left;
}

h3{
 font-family: 'Roboto Condensed', Bold;
 font-size-adjust: auto;
font-size: 16px;
 text-align: left;
}

h4 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 14px;
  text-align: left;
}

h5 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 12px;
  text-align: left;
}

p{
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  text-align: left;
  font-size: 11px;
  text-align: left;
}

hr{
  background-color: rgb(196, 192, 192);
}

#topName{
  text-align: center;
}
